
.about h2 {
    margin: 20px 0;
    color: #A5C9CA;
  }
  .about h3 {
    margin-bottom: 25px ;
    color: #E8AA42;
    font-size: 25px;
    font-weight: 600;
  }

  .about-image {
    padding: 0px 100px;
  }
  
  .about p:last-of-type {
    padding-bottom: 10px;
  }
  
  @media (min-width: 992px) {
    .about-list {
        flex-direction: row;
    }
  }