.contact h2 {
    margin: 20px 0 40px 0;
    font-family: Montserrat;
    font-weight: 600;
    color: #A5C9CA;
  }
  
  .contact-intro {
    padding-bottom: 40px;
  }
  
  .contact-list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .contact-links {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 15px;
  }
  
  .contact-links:hover {
   color: #2C3333;
   opacity: 0.2;
  }
  
  .contact-list i {
    display: flex;
    align-items: center;
    padding-right: 8px;
    font-size: 16px;
  }
  
  .contact-links a {
    display: flex;
    align-items: center;
    color: #2C3333;
    text-decoration: none;
  }
  
  .contact p:last-of-type {
    padding-bottom: 10px;
  }

  h2 {
    font-size: 40px;
    font-weight: 600;
    
}
a {
    font-family: Montserrat;
    text-decoration: none;
}

.typewritercontact {
  width: max-content;
  position: relative;
}
.typewritercontact::before,
.typewritercontact::after {
  content: '';
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
}
.typewritercontact::before {
  background: white;
  animation: typewriter 4s steps(16) 1s forwards;
}
.typewritercontact::after {
  width: 0.125em;
  background: black;
  animation: typewriter 4s steps(16) 1s forwards,
  blink 750ms steps(16) infinite;

}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
