
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
   }
  
   .nav-links a {
    color: #FFEA11;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
   }
  
   .menu { 
    display:none;
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 14px;
   }
  
   .menu li:hover {
    display: inline-block;
    background-color: #3f7d352b;
    transition: 0.3s ease;
   }
  
   .menu li {
    padding: 5px 25px;
   }
  
    input[type=checkbox]{
      display: none;
    } 

    .hamburger {
      display: block;
      font-size: 24px;
      user-select: none;

     }
  
     input[type=checkbox]:checked ~ .menu{
      display: flex;
      flex-direction: column;
      background-color: #2C3333;
      width: 151px;
      opacity: 0.9;
     } 

     .menu li + li {
      margin-top: 12px;
     }
     
  
   @media (min-width: 768px) {
      .menu {
      display: flex;
      position:relative;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
     }
     .hamburger {
       display: none;
     }
    .menu li:hover {
      background-color: rgb(38, 45, 45);
      border-radius: 5px;
      transition: 0.3s ease;
     }
  
    .menu li + li {
      margin-top: 0px;
     }
  
     input[type=checkbox]:checked ~ .menu{
      display: flex;
      position:relative;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
     } 
  }